<div>
  <mat-toolbar>
  <span><b>SmartVentes</b></span>
  <span class="spacer"></span>
  <mat-icon aria-label="Side nav toggle icon" class="icon">more_vert</mat-icon>
  <mat-icon aria-label="Side nav toggle icon" class="icon">notifications</mat-icon>
  <mat-icon aria-label="Side nav toggle icon" class="icon">settings</mat-icon>

</mat-toolbar></div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      
      <div class="btndiv">
        <a  routerLink="/clients"><button mat-raised-button class="btn">
          Gestion des clients
        </button></a>
        <a  routerLink="/fournisseurs">
        <button mat-raised-button class="btn" >
          sestion des fournisseurs
        </button></a>
        <a  routerLink="/produits">
        <button mat-raised-button class="btn">
          gestion des produits
        </button>
      </a>
      </div>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        Administration
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
