@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.container{
    margin: 0px 40px;
}

  form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
    }



body{
    background-color: #CBCBCB;
    margin:0
}
.backdropBackground {
    width: 60%;
  }
  
  .btn-dialog-close{
    width: 45px;
    height: 40px;
    padding: 0px ;
    float:right;  }
    
    .addbtn{
        margin-left: 85px;
        margin-top: 20px;
    }
   .spacer{
    flex: 1 1 auto;
   }